.banner-container{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    width:99.5%;
    height:10vh;
    border-radius:0px 0px 5vh 5vh;
    border-style:solid;
    z-index:10;
    position:fixed;
    top:0;
    left:0;
    background-color:rgba(0,0,0,75%);
}
.banner-text{
    margin-left:3vw;
    color:#111;
    font-size:6vh;
}
.banner-links-container{
    display:flex;
    flex-direction:row;
    margin-right:5vh;
}
.banner-link{
    font-size:3vh;
    margin-left:2vh;
}
@media (max-width:480px) {
    .banner-text{
        font-size:2vh;
    }
    .banner-link{
        font-size:2vh;
        margin-right:1vh;
    }
}