.banner-container{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100vw;
    height:20vh;
    border-radius:0px 0px 5vh 5vh;
    border-style:solid;
    z-index:10;
    position:sticky;
}
.banner-text{
    color:#111;
    font-size:8vh;
}