.banner-container{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
    width:100vw;
    height:20vh;
    border-radius:0px 0px 5vh 5vh;
    border-style:solid;
    z-index:10;
    position:fixed;
    top:0;
    left:0;
    background-color:rgba(0,0,0,75%);
}
.banner-text{
    margin-left:3vw;
    color:#111;
    font-size:6vh;
}