.web-container{
    position:absolute;
    top:0;
    left:0;
    display:flex;
    align-items:center;
    flex-direction:column;
    height:300vh;
}
.down-arrow{
    margin-top:80vh;
    height:10vh;
    margin-bottom:10vh;
}
.about-container{
    background-color:white;
    width:100vw;
    height:70vh;
}