.web-container{
    position:absolute;
    top:0;
    left:0;
    display:flex;
    align-items:center;
    flex-direction:column;
    height:300vh;
}
.intro-header{
    margin-top:30vh;
    font-size:5vh;
    font-weight:100;
}
.name-header{
    font-size:15vh;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.arrow-container{
    
    margin-top:15vh;
    margin-bottom:10vh;
    display:flex;
    justify-content:center;
    align-items:center;
    width:auto;
    border-radius:100%;
    border-style:solid;
    border-width:0vh;
}
.down-arrow{
    height:10vh;
    width:10vh;
}
