.about-container{
    padding-top:10vh;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    flex-direction:column;
    background-color:white;
    width:100%;
    height:auto;
    z-index:0;
}
.about-header{
    color:rgb(34, 154, 235);
    font-size:8vh;
    font-weight:300;
}
.about-text-container{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
    height:auto;
    margin-bottom:10vh;
}
.about-photo{
    height:30vh;
    aspect-ratio:1/1;
    background-color:rgb(34, 154, 235);
    border-radius:100%;
    margin-left:10vh;
}
.about-text{
    color:rgb(80, 80, 80);
    font-size:4vh;
    height:auto;
    margin-top:5vh;
    margin-right:10vh;
    margin-left:10vh;
}

@media (max-width:480px){
    .about-text-container{
        flex-direction:column;
    }
    .about-text{
        font-size:3vh;
    }
}