.projects-title{
    margin-top:10vh;
    margin-bottom:10vh;
    font-size:8vh;
    font-weight:300;
}

.projects-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100%;
    margin-bottom:10vh;
}

.project-left {
    justify-content:flex-start;
}
.project-right{
    justify-content:flex-end;
}
.project{
    display:flex;
    width:100%;
    margin-bottom:10vh;
}


.project-container{
    display:flex;
    flex-direction:row;
    width:60vw;
    background-color:rgba(8, 8, 8, 0.619);
    border-radius:5vh;
    overflow:hidden;
    margin-right:5vh;
    margin-left:5vh;
    border-style:solid;
}
.project-text{
    margin-left:3vw;
    margin-right:3vh;
    display:flex;
    flex-direction:column;
}
.project-title{
    margin-top:3vh;
    font-size:5vh;
}
.project-image{
    height:35vh;
    border-radius:100%;
    margin-top:2vh;
    margin-bottom:2vh;
    margin-left:2vh;
    aspect-ratio:1/1;
}
.project-description{
    font-size:2.5vh;
}

@media (max-width:480px) {
    .project-container{
        align-items:center;
        flex-direction:column;
        width:100%;
    }
    .project-title{
        font-size:4vh;
        text-align:center;
    }
    .project-image{
        height:20vh;
        width:20vh;
    }
    .project-description{
        font-size:2vh;
        text-align:center;
        margin-bottom:2vh;
    }
    .project-left{
        justify-content:center;
    }
    .project-right{
        justify-content:center;
    }
}